# Datasets
*.csv
*.tsv
*.dat

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.env

# Python Caches
__pycache__/
*.py[cod]

# Logs
*.log
dce_log.txt

# Misc
.DS_Store
*.json
